a {
    color: #000000;
    opacity: 0.6;
}

/* mouse over link */
a:hover {
    color: #3F51B5;
    opacity: 1;
}

body {
    text-align: left;
}

.place-card {
    max-width: 1000px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.card-container {
    text-align: -webkit-center;
}

.tag-icon {
    color: #006400;
}