.disclaimer-container {
  display: flex;
  justify-content: center;
  border: solid black 2px;
  border-radius: 20px;
  max-width: 1000px;
}

.disclaimer {
  margin: 20px;
}

.disclaimer b {
  text-transform: uppercase;
}

.disclaimer-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  border: solid black 1px;
  border-radius: 100%;
  min-width: 1.25rem;
  max-width: 1.25rem;
  min-height: 1.25rem;
  max-height: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
