.navbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--link-colour);
  font-size: 0.875rem;
}

.navbar a:hover {
  background-color: #f8f8fc;
}

.navbar .active-link {
  color: var(--active-link-colour);
  border-bottom: solid 2px var(--active-link-colour);
}

.navbar .active-link .diet-icon {
  border-color: var(--active-link-colour);
}

.navbar a p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.navbar a .diet-icon {
  border-color: var(--link-colour);
}
