<nav class="navbar">
  <a routerLink="/" (click)="updateRoute()" [class]="activeRouteClass('')"
    >All</a
  >
  <a
    routerLink="/halal"
    (click)="updateRoute()"
    [class]="activeRouteClass('halal')"
    ><p>Halal</p>
    <p class="diet-icon">حلال</p></a
  >
  <a
    routerLink="/vegetarian"
    (click)="updateRoute()"
    [class]="activeRouteClass('vegetarian')"
    ><p>Vegetarian</p>
    <p class="diet-icon">V</p></a
  >
  <a
    routerLink="/vegan"
    (click)="updateRoute()"
    [class]="activeRouteClass('vegan')"
    ><p>Vegan</p>
    <p class="diet-icon">VE</p></a
  >
</nav>
