<div>
  <app-header></app-header>
  <app-navigation-bar></app-navigation-bar>
</div>
<div style="display: flex; justify-content: center;">
  <h4 style="max-width: 1000px;">
    <mat-icon  fontIcon="error"></mat-icon>DISCLAIMER: The information presented in this application is based on
    locations being certified and presenting the certificate, owners making the claim, or information available online.
    This website is simply presenting information as told, not as an authoritative body. This website does not claim or
    enforce any information provided here as being up to date (and hence not necessarily true) - certificates may
    change, companies may change their approach. Please do your due diligence and confirm from the place you go to if it
    suits your dietary needs.
  </h4>
</div>

<router-outlet></router-outlet>