<app-header></app-header>
<div class="content">
  <div class="disclaimer-container">
    <p class="disclaimer">
      <span class="disclaimer-icon">!</span> <b>Disclaimer:</b> The information
      presented in this application is based on locations being certified and
      presenting the certificate, owners making the claim, or information
      available online. This website is simply presenting information as told,
      not as an authoritative body. This website does not claim or enforce any
      information provided here as being up to date (and hence not necessarily
      true) - certificates may change, companies may change their approach.
      Please do your due diligence and confirm from the place you go to if it
      suits your dietary needs.
    </p>
  </div>
  <router-outlet />
</div>
