.content {
  margin-top: 150px;
  margin-left: 10%;
  margin-right: 10%;
}

.disclaimer-container {
  display: flex;
  justify-content: center;
}

.disclaimer {
  max-width: 1000px;
}

.disclaimer b {
  text-transform: uppercase;
}
